:root {
	--remove-button-color: rgb(116, 26, 26);
}
.vbox {
	display: flex;
	flex-direction: column;
	justify-content: start;
}
.hbox {
	display: flex;
	flex-direction: row;
	justify-content: start;
}
.pointer-hover:hover {
	cursor: pointer;
}
:is(button.remove-button, .remove-button) {
	background-color: var(--remove-button-color);
}
:is(button.exit-button, .exit-button) {
	background-color: var(--remove-button-color);
	align-self: flex-end;
}